aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.1.8
dateparser==1.4.0
frozenlist==1.8.0
idna==3.16
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
pluggy==1.6.0
propcache==0.5.2
pycryptodome==3.23.0
pydantic==2.7.1
pydantic-settings==2.3.1
pydantic_core==2.18.2
Pygments==2.20.0
pytest==8.2.2
pytest-mock==3.14.0
python-binance==1.0.19
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.2
regex==2026.5.9
requests==2.34.2
rich==13.7.1
shellingham==1.5.4
six==1.17.0
typer==0.12.3
typing_extensions==4.15.0
tzlocal==5.3.1
ujson==5.12.1
urllib3==2.7.0
websockets==16.0
yarl==1.24.2
